@media screen and (min-width: 1000px) {
	body {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.modal {
	width: 400px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal input[type='text'] {
	width: 95%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#saveButton {
	width: 101%;
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
}

#saveButton:hover {
	background-color: #0056b3;
}

#main-page {
	display: block;
	padding: 20px;
}

.tabs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f4f4f4;
	padding: 10px 0;
}

.tab-button {
	background-color: transparent;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	color: #007bff;
	border-bottom: 2px solid transparent;
}

.tab-button.active {
	border-bottom: 2px solid #007bff;
}

.table-container {
	margin-top: 20px;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

table th:nth-child(3),
table td:nth-child(3) {
	min-width: 100px;
}

.presentation {
	display: block;
}

#successful-call {
	display: block;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	max-width: 900px;
}

#successful-call label {
	display: block;
	margin-bottom: 10px;
}

#finishButton {
	background-color: #0094ff;
	color: white;
	border: none;
	border-radius: 16px;
	padding: 15px 25px;
	margin-top: 20px;
	cursor: pointer;
	width: 100%;
}

#successful-call .navigation {
	background-color: #0094ff;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#successful-call .content {
	margin-top: 20px;
}

#call-rejection-section {
	display: block;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	width: 100%;
	max-width: 900px;
}

#call-rejection-section label {
	display: block;
	margin-bottom: 10px;
}

#call-rejection-section textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

#call-rejection-section #finishButton {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 16px;
	padding: 15px 25px;
	margin-top: 20px;
	cursor: pointer;
	width: 100%;
}

#call-rejection-section #finishButton:hover {
	background-color: #0056b3;
}

#recall-section {
	display: block;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 20px;
	width: 100%;
	max-width: 900px;
}

#recall-section label {
	display: block;
	margin-bottom: 10px;
}

#recall-section textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

#recall-section #finishButton {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 16px;
	padding: 15px 25px;
	margin-top: 20px;
	cursor: pointer;
	width: 100%;
}

#recall-section #finishButton:hover {
	background-color: #0056b3;
}
